rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /solicitudes/{document} {
      allow create: if true;
      allow read: if request.auth != null
        && request.auth.token.email in [    
          "graciagraciasobre1@gmail.com"
        ];
      allow update, delete: if false;
    }
  }
}
